@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import "tailwindcss";

@layer base {
  .font-outline {
    -webkit-text-stroke: 0.01em black;
  }
}

.recipe-card {
}

.recipes-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
}